body {
  padding-top: 50px;
  background: #cb2d3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cb2d3e, #ef473a,#5500E8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cb2d3e, #ef473a,#5500E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;
  -webkit-animation: AnimationName 27s ease infinite;
  -moz-animation: AnimationName 27s ease infinite;
  animation: AnimationName 27s ease infinite;
}
ul {
  float: left;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
.row {
  margin-top: 20px;
}
.errMsg {
  color: red;
}
.succMsg {
  color:#cb2d3e;
}
img {
  max-width: 50%;
}
.container {
  background-color: #202020;
}
.navbar {
   background-color: #202020;
   background-image: none;
  border: none;
 }
h1,h2,h3,h4 {
  color:whitesmoke;
}
input:focus {
  background-color: whitesmoke;
  border: 1px solid #cb2d3e;;

}
input[type=text], input[type=password] {
  width: 250px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
input[type=text]:focus, input[type=password]:focus {
  width: 300px;
}
input[type=submit]:hover {
  transform: scale(1.2);
}
input[type="radio"], input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}
.btn-success {
  margin: 4px;
  border-radius: 2px;
  transition: all 0.25s ease;
  background-image: none;

  background-color: #cb2d3e;
  border: 1px solid #cb2d3e;

}

.btn-success:hover {
  transform: scale(1.1);
  background-image: none;
  background: none;
  border-color: #cb2d3e;


}
.center-nav {
  margin: auto;
  max-width: 50%;
  padding-top: 10px;
  text-align: center;
}
.center-content {
  margin: auto;
  max-width: 50%;
  padding: 2px;
}
.galerieBox {
  padding: 3px;
  float: left;
  width: 40%;
  margin: 5px;
  transition: all 0.2s ease;
  border-bottom: 3px solid #FF2F3F;

}
.galerieBox img {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
.galerieBox:hover {
  background-color: #101010;
  border-bottom: 3px solid #c22d33;


}
.nav li a:hover {
    background-color: #5a1320 !important;
}
.panel-body {
  background-color: #303030;
  color: whitesmoke;
  transition: all 0.2s ease;
}
.panel-body:hover {
  background-color: #472e30;
  transform: scale(1.1);
}
@media screen and (max-width: 900px) {
  .center-content {
    max-width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .center-content {
    max-width: 100%;
    padding: 2px;
  }
  .galerieBox {
    width: 90%;
  }
  .center-nav {
    max-width: 70%;
  }
}
@media screen and (max-width: 488px) {
  .center-content {
    max-width: 100%;
    padding: 2px;
  }
  .galerieBox {
      width: 90%;
  }
  .center-nav {
    max-width: 70%;
  }


}
/* light box */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 50%;
}
#myModal .column {
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fe6a64;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 60px;
  right: 55px;
  font-size: 35px;
  font-weight: bold;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.prev {
  left: 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}